<ngx-ui-loader [bgsColor]="'#101554'"[fgsColor]="'#101554'" [pbColor]="'#101554'" [fgsSize]="15"[fgsType]= "'cube-grid'"[textColor]="'#101554'"[overlayColor]="' rgba(255,255,255,0.5)'" [text]="'cargando...'"></ngx-ui-loader>

<div class="row chat-wrapper">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row position-relative">
          <div class="col-lg-4 chat-aside border-end-lg">
            <div class="aside-content">
              <div class="aside-body">
                <ul ngbNav #defaultNav="ngbNav" [(activeId)]="defaultNavActiveId" class="nav-tabs nav-fill mt-3">
                  <li [ngbNavItem]="1">
                    <ng-template ngbNavContent >
                      <div class="ps" [perfectScrollbar]>
                        <p class="text-muted mb-1">Miembros activos</p>
                        <ul class="list-unstyled chat-list px-1">
                          <li class="chat-item pe-1"  *ngFor='let card of cards$; let i = index'    [hidden]=" card.status!='activated' || card.userType=='admin'">
                            <a (click)="loadCarsById2(card)" class="d-flex align-items-center">
                              <figure class="mb-0 me-2">
                                <img src="{{card.images[0]}}" class="img-xs rounded-circle" alt="user">
                              </figure>
                              <div class="d-flex justify-content-between flex-grow-1 border-bottom">
                                <div>
                                  <p class="text-body fw-bolder">{{card.name}}</p>
                                  <p class="text-muted tx-13">{{card.email}}</p>
                                </div>
                                <!-- <div class="d-flex flex-column align-items-end">
                                  <p class="text-muted tx-13 mb-1">{{card.createdAt | date:'dd/MM/yyyy'}}</p>
                                </div> -->
                              </div>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </ng-template>
                  </li>  <!-- End chat tab-->
                
                </ul>
                <div [ngbNavOutlet]="defaultNav" class="mt-3"></div>
              </div>
            </div>
          </div>
          <div class="col-lg-8 chat-content" [hidden]="!show">
            <div class="chat-header border-bottom pb-2">
              <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center">
                  <i (click)="backToChatList()" class="feather icon-corner-up-left icon-md me-2 ms-n2 text-muted d-lg-none"></i>
                  <figure class="mb-0 me-2">
                    <img src="{{cardToSee.image}}" class="img-lg rounded-circle" alt="image" >
                    <div class="status online"></div>
                    <div class="status online"></div>
                  </figure>
                  <div style="cursor: pointer;" (click)="showDetailChange()">
                    <p><span class="text-primary">{{cardToSee.name}}</span></p>
                    <p class="text-muted tx-13">{{cardToSee.email}}</p>
                   
                  </div>
            
                 
                </div>
                <div class="d-flex align-items-center me-n1" >
                  <a [hidden]="!showDetail || editing" (click)="memberEdit()">
                    <i class="feather icon-edit icon-lg text-muted me-0 me-sm-3" ngbTooltip="editar" style="color:rgb(255, 190, 10) !important;"></i>
                  </a>
                  
                    <button _ngcontent-iec-c96="" type="button"  class="btn btn-info btn-icon-text btn-xs  mb-2 mb-md-0"  style="margin-right:10%;" [hidden]="(!showDetail && !editing) || (!showDetail || !editing)" (click)="guardar()">
                      <i class="feather icon-check"></i>
                        Guardar
                      </button>
                  <a [hidden]="!_butler.partsSelected">
                    <i class="feather icon-package icon-lg text-muted me-0 me-sm-3" ngbTooltip="Autopartes" style="color:blue !important;"></i>
                  </a>  

                  <a    [hidden]="_butler.partsSelected" (click)="setParts()">
                    <i  class="feather icon-package icon-lg text-muted me-0 me-sm-3" ngbTooltip="Autopartes" style="color:grey !important;"></i>
                  </a> 
                  <a  [hidden]="!_butler.carsSelected" >
                    <i class="feather icon-truck icon-lg text-muted me-0 me-sm-3" ngbTooltip="Vehículos" style="color:blue !important;"></i>
                  </a>

                  <a [hidden]="_butler.carsSelected"  (click)="setCars()">
                    <i class="feather icon-truck icon-lg text-muted me-0 me-sm-3" ngbTooltip="Vehículos" style="color:grey !important;"></i>
                  </a>                
              
                </div>
              </div>
            </div>
            <div class="chat-body" [perfectScrollbar] [hidden]="!_butler.partsSelected || showDetail">
              <div class="row">
                <div [hidden]="partsSize!=0 " style="font-size: large;">Esta empresa aun no ha cargado autopartes</div>
                <div class="col-md-4 grid-margin stretch-card" *ngFor='let part of parts$; let i = index' >
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex justify-content-between align-items-baseline">
                        <h6 class="card-title mb-0">{{part.name}}</h6>
                        <div ngbDropdown class="mb-2">
                          <button ngbDropdownToggle class="btn p-0 no-dropdown-toggle-icon" type="button" id="dropdownMenuButton1">
                            <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal" appFeatherIcon></i>
                          </button>
                          <div ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
                            <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="eye" appFeatherIcon class="icon-sm me-2"></i> <span class="">View</span></a>
                            <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="edit-2" appFeatherIcon class="icon-sm me-2"></i> <span class="">Edit</span></a>
                            <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="trash" appFeatherIcon class="icon-sm me-2"></i> <span class="">Delete</span></a>
                            <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="printer" appFeatherIcon class="icon-sm me-2"></i> <span class="">Print</span></a>
                            <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="download" appFeatherIcon class="icon-sm me-2"></i> <span class="">Download</span></a>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 col-md-12 " [hidden]="_butler.carsSelected">
                        
                          <div class="d-flex align-items-baseline">
                            <p class="text-success">
                              <img src="{{part.images[0]}}" alt="image" style="max-width:100px;">
                              <!-- <span>+ 4</span> -->
                              <!-- <i data-feather="arrow-up" appFeatherIcon class="icon-sm mb-1"></i> -->
                            </p>
                          </div>
                          <h3 class="mb-2">Precio: ${{part.price}}</h3>
                        </div>
                       
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="chat-body" [perfectScrollbar] [hidden]="_butler.partsSelected || showDetail">
              <div class="row">

                <div [hidden]="carsSize!=0 " style="font-size: large;">Esta empresa aun no ha cargado vehículos</div>
                <div class="col-md-3 grid-margin stretch-card" *ngFor='let car of cars$; let i = index' >
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex justify-content-between align-items-baseline">
                      
                        
                      </div>
                      <div class="row">
                        <div  (mouseover)="mostrar(i)" (mouseout)="ocultar(i)">
                          <div class="col-12 col-md-12 " [hidden]="!_butler.carsSelected">
                           
                              <div class="d-flex ">
                                <p class="text-success">
                                  <img src="{{car.images[0]}}" alt="image" style="max-width:130px; border-radius: 13px; cursor: pointer;" (click)="showProductDetailR(i)">
                                  <!-- <span>+ 4</span> -->
                                  <!-- <i data-feather="arrow-up" appFeatherIcon class="icon-sm mb-1"></i> -->
                                </p>
                              </div>
                              <h3 class="card-title " style="margin-top: 5px; margin-bottom: 5px !important;">{{car.name}}</h3>
                              <h5 class="mb-2 "> CLP
                              <span style="color:blue;">  {{car.price  | number :'1.2-2' }}
                              </span>
                              </h5>
                            
                          </div>
                          <div [hidden]="i!=looking" [ngStyle]="{ display: mostrarDiv ? 'block' : 'none' }" >
                            <div _ngcontent-iec-c96="" class="d-flex align-items-center  text-nowrap"  >
                              <button _ngcontent-iec-c96="" type="button" class="btn btn-primary btn-xs btn-icon-text mb-2 mb-md-0" style="margin-right:10%;"(click)="setEditing()" >
                                <i class="feather icon-edit"></i>
                                Editar
                              </button>

                              <!-- <button [hidden]=" !showDetail || editing" [swal]=" -->
                              <button  [swal]="
                              {title: '<strong>Borrar vehículo <u></u></strong>', icon: 'error',
                              html: '{{car.name}}] Confirma que desea eliminar este vehículo ?',
                              showCloseButton: true,
                              showCancelButton: true,
                              cancelButtonColor: '#101554',
                              confirmButtonColor: '#ff3366',
                              focusConfirm: true,
                              confirmButtonText:' Borrar',
                              confirmButtonAriaLabel: 'Thumbs up, great!',
                              cancelButtonText: ' Cancelar',
                              cancelButtonAriaLabel: 'Thumbs down'
                              }"
                              (confirm)="delete()"
                              (dismiss)="cancelDelete()"
                              class="btn btn-danger btn-xs" style="margin-right:10%;">
                              <i class="feather icon-trash"></i>Borrar
                              </button>
                              <button _ngcontent-iec-c96="" type="button" class="btn btn-outline-primary  btn-xs btn-icon-text mb-2 mb-md-0"style="margin-right:10%;"  (click)="cancel()" [hidden]="!editingProduct" >
                                Cancelar
                              </button>
                              <button _ngcontent-iec-c96="" type="button" (click)="save()" class="btn btn-info btn-icon-text btn-xs  mb-2 mb-md-0"  style="margin-right:10%;" [hidden]="!editingProduct">
                              <i class="feather icon-check"></i>
                                Guardar
                              </button>
                            </div>
                          </div> 
                        </div>                      
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="chat-body" [perfectScrollbar] [hidden]="!showDetail">
              <div class="card rounded" [hidden]="!showDetail">
                <div class="card-body">
           
                 
                  <form class="forms-sample"[hidden]="editing">
                    <div class="mt-3">
                      <label class="tx-11 fw-bolder mb-0 text-uppercase">Dirección:</label>
                      <p class="text-muted" >{{cardToSee.direction}}</p>
                    
                    </div> 
                  
                    <div class="mt-3">
                      <label class="tx-11 fw-bolder mb-0 text-uppercase">Email:</label>
                      <p class="text-muted" >{{cardToSee.email}}</p>
                    </div>
                    <div class="mt-3">
                      <label class="tx-11 fw-bolder mb-0 text-uppercase">Telefono:</label>
                      <p class="text-muted"  >{{cardToSee.phone}}</p>
                     
                    </div>
                    <div class="mt-3 d-flex social-links">
                      <a href="" (click)="false" class="btn btn-icon border btn-xs me-2"  >
                        <i class="feather icon-facebook"></i>
                      </a><span  >{{cardToSee.facebook}}</span>
                    
                      
                    </div>
                    <div class="mt-3 d-flex social-links">
                      
                      <a href="" (click)="false" class="btn btn-icon border btn-xs me-2" >
                        <i class="feather icon-instagram"></i>
                      </a><span  > {{cardToSee.instagram}}</span>
                    
                    </div>
                  </form>
                  <form class="forms-sample" [formGroup]="editForm" [hidden]="!editing">
                    <div class="mt-3">
                      <label class="tx-11 fw-bolder mb-0 text-uppercase">Nombre:</label>
                      <p class="text-muted"  [hidden]="editing">{{infoProfile.name}}</p>
                      <input  type="text" class="form-control"   formControlName="name" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" [hidden]="!editing">
                      <div *ngIf="submitted && f['name'].errors" class="invalid-feedback" [hidden]="!editing">
                       <div *ngIf="f['name'].errors['required']">Campo requerido
                       </div>
                     </div>
                    </div>
                    <div class="mt-3">
                      <label class="tx-11 fw-bolder mb-0 text-uppercase">Dirección:</label>
                      <p class="text-muted" [hidden]="editing">{{infoProfile.direction}}</p>
                      <input  type="text" class="form-control"   formControlName="direction" [ngClass]="{ 'is-invalid': submitted && f['direction'].errors }" [hidden]="!editing">
                      <div *ngIf="submitted && f['direction'].errors" class="invalid-feedback" [hidden]="!editing">
                       <div *ngIf="f['direction'].errors['required']">Campo requerido
                       </div>
                     </div>
                    </div> 
                  
                    <div class="mt-3">
                      <label class="tx-11 fw-bolder mb-0 text-uppercase">Email:</label>
                      <p class="text-muted" >{{infoProfile.email}}</p>
                    </div>
                    <div class="mt-3">
                      <label class="tx-11 fw-bolder mb-0 text-uppercase">Telefono:</label>
                      <p class="text-muted"  [hidden]="editing">{{infoProfile.phone}}</p>
                      <input  type="text" class="form-control"   formControlName="phone" [ngClass]="{ 'is-invalid': submitted && f['phone'].errors }" [hidden]="!editing">
                      <div *ngIf="submitted && f['phone'].errors" class="invalid-feedback" [hidden]="!editing">
                       <div *ngIf="f['phone'].errors['required']">Campo requerido
                       </div>
                     </div>
                    </div>
                    <div class="mt-3 d-flex social-links">
                      <a href="" (click)="false" class="btn btn-icon border btn-xs me-2"  >
                        <i class="feather icon-facebook"></i>
                      </a><span  [hidden]="editing">{{infoProfile.facebook}}</span>
                      <input  type="text" class="form-control"   formControlName="facebook" [ngClass]="{ 'is-invalid': submitted && f['facebook'].errors }" [hidden]="!editing">
                      <div *ngIf="submitted && f['facebook'].errors" class="invalid-feedback" [hidden]="!editing">
                       <div *ngIf="f['facebook'].errors['required']">Campo requerido
                       </div>
                     </div>
                      
                    </div>
                    <div class="mt-3 d-flex social-links">
                      
                      <a href="" (click)="false" class="btn btn-icon border btn-xs me-2" >
                        <i class="feather icon-instagram"></i>
                      </a><span  [hidden]="editing"> {{infoProfile.instagram}}</span>
                      <input  type="text" class="form-control"   formControlName="instagram" [ngClass]="{ 'is-invalid': submitted && f['instagram'].errors }" [hidden]="!editing">
                      <div *ngIf="submitted && f['instagram'].errors" class="invalid-feedback" [hidden]="!editing">
                       <div *ngIf="f['instagram'].errors['required']">Campo requerido
                       </div>
                     </div>
                    </div>
                  </form>
                </div>
              </div>

            </div>
           
          </div>
         
        </div>
      </div>
    </div>
  </div>
</div>