<div class="row chat-wrapper">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row position-relative">
          <div class="col-lg-4 chat-aside border-end-lg">
            <div class="aside-content">
              <div class="aside-body">
                <ul ngbNav #defaultNav="ngbNav" [(activeId)]="defaultNavActiveId" class="nav-tabs nav-fill mt-3">
                  <li [ngbNavItem]="1">
                    <ng-template ngbNavContent>
                      <div class="ps" [perfectScrollbar]>
                        <p class="text-muted mb-1">Miembros activos</p>
                        <ul class="list-unstyled chat-list px-1">
                          <li class="chat-item pe-1"  *ngFor='let card of cards$; let i = index'    [hidden]=" card.status!='activated' || card.userType=='admin'">
                            <a (click)="loadPartsById(card)" class="d-flex align-items-center">
                              <figure class="mb-0 me-2">
                                <img src="{{card.images[0]}}" class="img-xs rounded-circle" alt="user">
                              </figure>
                              <div class="d-flex justify-content-between flex-grow-1 border-bottom">
                                <div>
                                  <p class="text-body fw-bolder">{{card.name}}</p>
                                  <p class="text-muted tx-13">{{card.email}}</p>
                                </div>
                                <div class="d-flex flex-column align-items-end">
                                  <p class="text-muted tx-13 mb-1">{{card.createdAt | date:'dd/MM/yyyy'}}</p>
                                </div>
                              </div>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </ng-template>
                  </li>  <!-- End chat tab-->
                
                </ul>
                <div [ngbNavOutlet]="defaultNav" class="mt-3"></div>
              </div>
            </div>
          </div>
          <div class="col-lg-8 chat-content" [hidden]="!show">
            <div class="chat-header border-bottom pb-2">
              <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center">
                  <i (click)="backToChatList()" class="feather icon-corner-up-left icon-md me-2 ms-n2 text-muted d-lg-none"></i>
                  <figure class="mb-0 me-2">
                    <img src="{{cardToSee.image}}" class="img-sm rounded-circle" alt="image">
                    <div class="status online"></div>
                    <div class="status online"></div>
                  </figure>
                  <div>
                    <p>{{cardToSee.name}}</p>
                    <p class="text-muted tx-13">{{cardToSee.email}}</p>
                  </div>
            
                 
                </div>
                <div class="d-flex align-items-center me-n1">
                  <a [hidden]="!_butler.partsSelected">
                    <i class="feather icon-package icon-lg text-muted me-0 me-sm-3" ngbTooltip="Automoviles" style="color:blue !important;"></i>
                  </a>  

                  <a    [hidden]="_butler.partsSelected" (click)="setParts()">
                    <i  class="feather icon-package icon-lg text-muted me-0 me-sm-3" ngbTooltip="Automoviles" style="color:grey !important;"></i>
                  </a> 
                  <a  [hidden]="!_butler.carsSelected" >
                    <i class="feather icon-truck icon-lg text-muted me-0 me-sm-3" ngbTooltip="Autopartes" style="color:blue !important;"></i>
                  </a>

                  <a [hidden]="_butler.carsSelected"  (click)="setCars()">
                    <i class="feather icon-truck icon-lg text-muted me-0 me-sm-3" ngbTooltip="Autopartes" style="color:grey !important;"></i>
                  </a>                
                  
                </div>
              </div>
            </div>
            <div class="chat-body" [perfectScrollbar] [hidden]="!_butler.partsSelected">
              <div class="row">
                <div class="col-md-4 grid-margin stretch-card" *ngFor='let part of parts$; let i = index' >
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex justify-content-between align-items-baseline">
                        <h6 class="card-title mb-0">{{part.name}}</h6>
                        <div ngbDropdown class="mb-2">
                          <button ngbDropdownToggle class="btn p-0 no-dropdown-toggle-icon" type="button" id="dropdownMenuButton1">
                            <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal" appFeatherIcon></i>
                          </button>
                          <div ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
                            <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="eye" appFeatherIcon class="icon-sm me-2"></i> <span class="">View</span></a>
                            <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="edit-2" appFeatherIcon class="icon-sm me-2"></i> <span class="">Edit</span></a>
                            <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="trash" appFeatherIcon class="icon-sm me-2"></i> <span class="">Delete</span></a>
                            <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="printer" appFeatherIcon class="icon-sm me-2"></i> <span class="">Print</span></a>
                            <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="download" appFeatherIcon class="icon-sm me-2"></i> <span class="">Download</span></a>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 col-md-12 " [hidden]="_butler.carsSelected">
                        
                          <div class="d-flex align-items-baseline">
                            <p class="text-success">
                              <img src="{{part.images[0]}}" alt="image" style="max-width:100px;">
                              <!-- <span>+ 4</span> -->
                              <!-- <i data-feather="arrow-up" appFeatherIcon class="icon-sm mb-1"></i> -->
                            </p>
                          </div>
                          <h3 class="mb-2">Precio: ${{part.price}}</h3>
                        </div>
                       
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="chat-body" [perfectScrollbar] [hidden]="_butler.partsSelected">
              <div class="row">
                <div class="col-md-4 grid-margin stretch-card" *ngFor='let car of cars$; let i = index' >
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex justify-content-between align-items-baseline">
                        <h6 class="card-title mb-0">{{car.name}}</h6>
                        <div ngbDropdown class="mb-2">
                          <button ngbDropdownToggle class="btn p-0 no-dropdown-toggle-icon" type="button" id="dropdownMenuButton1">
                            <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal" appFeatherIcon></i>
                          </button>
                          <div ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
                            <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="eye" appFeatherIcon class="icon-sm me-2"></i> <span class="">View</span></a>
                            <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="edit-2" appFeatherIcon class="icon-sm me-2"></i> <span class="">Edit</span></a>
                            <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="trash" appFeatherIcon class="icon-sm me-2"></i> <span class="">Delete</span></a>
                            <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="printer" appFeatherIcon class="icon-sm me-2"></i> <span class="">Print</span></a>
                            <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="download" appFeatherIcon class="icon-sm me-2"></i> <span class="">Download</span></a>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 col-md-12 " [hidden]="!_butler.carsSelected">
                        
                          <div class="d-flex align-items-baseline">
                            <p class="text-success">
                              <img src="{{car.images[0]}}" alt="image" style="max-width:100px;">
                              <!-- <span>+ 4</span> -->
                              <!-- <i data-feather="arrow-up" appFeatherIcon class="icon-sm mb-1"></i> -->
                            </p>
                          </div>
                          <h3 class="mb-2">Precio: ${{car.price}}</h3>
                        </div>
                       
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>