<nav class="navbar" >
  <a href="" class="sidebar-toggler" (click)="toggleSidebar($event)">
    <i class="feather icon-menu"></i>
  </a>
  <div class="navbar-content">
   <!--  <div [hidden]="this._butler.profileStatus!='complete'">  
    <form class="search-form" >
      <div class="input-group">
        <div class="input-group-text">
          <i class="feather icon-search"></i>
        </div>
        <input type="text" class="form-control" id="navbarForm" placeholder="Search here...">
      </div>
    </form>
    </div> -->
    <ul class="navbar-nav" >
      <li class="nav-item nav-apps" ngbDropdown >
        <a class="nav-link" ngbDropdownToggle id="appsDropdown">
          <i class="link-icon feather icon-grid"></i>
        </a>
        <div ngbDropdownMenu class="px-0" aria-labelledby="appsDropdown">
          <div class="px-3 py-2 d-flex align-items-center justify-content-between border-bottom">
            <p class="mb-0 fw-bold">Zofri Cars</p>
            <!-- <a href="javascript:;" class="text-muted">Edit</a> -->
          </div>
          <div class="row g-0 p-1" [hidden]="this._butler.profileStatus!='complete'">
            <div class="col-6 text-center">
              <a routerLink="/cars/carslist" class="dropdown-item d-flex flex-column align-items-center justify-content-center wd-70 ht-70"><i class="feather icon-truck icon-lg mb-1"></i><p class="tx-12">Autos</p></a>
            </div>
            <div class="col-6 text-center">
              <a routerLink="/parts/partslist" class="dropdown-item d-flex flex-column align-items-center justify-content-center wd-70 ht-70"><i class="feather icon-package icon-lg mb-1"></i><p class="tx-12">Autopartes</p></a>
            </div>
          </div>
          <div class="px-3 py-2 d-flex align-items-center justify-content-center border-top">
          </div>
        </div>
      </li>
      <li class="nav-item nav-notifications" ngbDropdown [hidden]="_butler.totalNotifications<1 || _butler.type=='member'">
        <a class="nav-link" ngbDropdownToggle id="notificationDropdown">
          <i class="link-icon feather icon-bell"></i>
          <div class="indicator">
            <div class="circle"></div>
          </div>
        </a>
        <div ngbDropdownMenu class="px-0" aria-labelledby="notificationDropdown">
          <div class="px-3 py-2 d-flex align-items-center justify-content-between border-bottom">
            <p>1 Nueva notificacion</p>
            <a href="" (click)="false" class="text-muted">Limpiar</a>
          </div>
          <div class="p-1">
            <a [routerLink]="['/members/request']" (click)="false" class="dropdown-item d-flex align-items-center py-2">
              <div class="wd-30 ht-30 d-flex align-items-center justify-content-center bg-primary rounded-circle me-3">
                <i class="feather icon-gift icon-sm text-white"></i>
              </div>
              <div class="flex-grow-1 me-2">
                <p [hidden]="_butler.totalRequest!==1">{{_butler.totalRequest}} Nueva solicitud de registro</p>
                <p [hidden]="_butler.totalRequest<2">{{_butler.totalRequest}} Nuevas solicitudes de registro</p>
              </div>	
            </a>
          </div>
          <div class="px-3 py-2 d-flex align-items-center justify-content-center border-top">
            <a href="" (click)="false">ver todas  </a>
          </div>
        </div>
      </li>
      <li class="nav-item nav-profile" ngbDropdown>
        <a class="nav-link" ngbDropdownToggle id="profileDropdown">
          <img class="wd-30 ht-30 rounded-circle" src="{{_butler.images[0]}}" alt="profile">
        </a>
        <div ngbDropdownMenu class="px-0" aria-labelledby="profileDropdown">
          <div class="d-flex flex-column align-items-center border-bottom px-5 py-3">
            <div class="mb-3">
              <img class="wd-80 ht-80 rounded-circle" src="{{_butler.images[0]}}" alt="">
            </div>
            <div class="text-center">
              <p class="tx-16 fw-bolder">{{_butler.name}}</p>
              <p class="tx-12 text-muted">{{_butler.email}}</p>
            </div>
          </div>
          <ul class="list-unstyled p-1">
          <!--   <li class="dropdown-item py-2">
              <a routerLink="/general/profile" class="d-flex text-body ms-0">
                <i class="feather icon-user me-2 icon-md"></i>
                <span>Perfil</span>
              </a>
            </li> -->
          <!--   <li class="dropdown-item py-2">
              <a href="" (click)="false" class="d-flex text-body ms-0">
                <i class="feather icon-edit me-2 icon-md"></i>
                <span>Ajustes</span>
              </a>
            </li> -->
            <li class="dropdown-item py-2">
              <a href="" (click)="onLogout($event)" class="d-flex text-body ms-0">
                <i class="feather icon-log-out me-2 icon-md"></i>
                <span>Salir</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>