tr:hover {
    // font-size: 16px; /* Tamaño de la fuente aumenta a 16px al pasar el mouse por encima */
    font-weight: bold; /* La fuente se pone en negrita al pasar el mouse por encima */
    color:#ff8226 !important;
  }