<ngx-ui-loader 
  [pbColor]="'#101554'"  
  [bgsColor]="'#101554'"
  [fgsColor]="'#101554'"
  [text]="'Guardando...'"
  [fgsSize]="15"
  [fgsType]= "'cube-grid'"
  [textColor]="'#101554'"
  [overlayColor]="' rgba(255,255,255,0.8)'" >
</ngx-ui-loader>
<div class="row"  [hidden]="_butler.profileStatus!='complete'">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="position-relative">
        <figure class="overflow-hidden mb-0 d-flex justify-content-center">
          <img src="assets/images/background.jpg" class="rounded-top" alt="profile cover">
        </figure>
        <div class="d-flex justify-content-between align-items-center position-absolute top-90 w-100 px-2 px-md-4 mt-n4">
          <div>
            <img class="wd-70 rounded-circle" src="{{_butler.images[0]}}" alt="profile">
            <span class="h4 ms-3 text-white"[hidden]="_butler.type!='member'">Perfil de empresa</span>
            <span class="h4 ms-3 text-white" [hidden]="_butler.type!='admin'">Perfil administrador de plataforma</span>
          </div>
        
        </div>
      </div>
     
    </div>
  </div>
</div>
<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin" [hidden]="_butler.profileStatus=='complete'">
  <div>
    <h4 class="mb-3 mb-md-0">Bienvenido! a ZOFRICARS <span [hidden]="_butler.profileStatus=='complete'">, a continuación completaremos la información del perfil de su empresa</span></h4>
  </div>
</div>
<div class="row profile-body"  [hidden]="_butler.profileStatus!='complete'">
  <!-- left wrapper start -->
  <div class="d-none d-md-block col-md-4 col-xl-3 left-wrapper" >
    <div class="card rounded">
      <div class="card-body">
        <h6 class="card-title">{{_butler.name}}</h6>
        <div class="d-flex justify-content-between mb-2 pb-2 border-bottom">
          <div class="d-flex align-items-center hover-pointer">
            <div class="ms-2 " [hidden]="_butler.type=='admin'">
             
              <p>RUT</p>
              <p class="tx-11 text-muted">{{infoProfile.rut}}</p>
            </div>


            <div class="ms-2 " [hidden]="_butler.type=='member'">
             
              <p>Email</p>
              <p class="tx-11 text-muted">{{infoProfile.email}}</p>
            </div>
          </div>
          </div>
  

      </div>
    </div>
   
  </div>
  <!-- left wrapper end -->
  <!-- middle wrapper start -->
  <div class="col-md-8 col-xl-6 middle-wrapper">
    <div class="row">
      <div class="col-md-12 grid-margin">
        <div class="card rounded"  [hidden]="_butler.type=='admin'">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between mb-2">
              <!-- <h6 class="card-title mb-0">About</h6> -->
              <div class="d-none d-md-block">
                <button class="btn btn-primary btn-icon-text">
                  <i class="feather icon-edit btn-icon-prepend"></i> Editar contacto
                </button>
              </div>
            </div>
          
            <div class="mt-3">
              <label class="tx-11 fw-bolder mb-0 text-uppercase">Dirección:</label>
              <p class="text-muted">{{infoProfile.direction}}</p>
            </div> 
          
            <div class="mt-3">
              <label class="tx-11 fw-bolder mb-0 text-uppercase">Email:</label>
              <p class="text-muted">{{infoProfile.email}}</p>
            </div>
            <div class="mt-3">
              <label class="tx-11 fw-bolder mb-0 text-uppercase">Telefono:</label>
              <p class="text-muted">{{infoProfile.phone}}</p>
            </div>
            <div class="mt-3 d-flex social-links">
              <a href="" (click)="false" class="btn btn-icon border btn-xs me-2">
                <i class="feather icon-facebook"></i>
              </a>{{infoProfile.facebook}}
              
            </div>
            <div class="mt-3 d-flex social-links">
              
              <a href="" (click)="false" class="btn btn-icon border btn-xs me-2">
                <i class="feather icon-instagram"></i>
              </a>{{infoProfile.instagram}}
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <!-- middle wrapper end -->
  <!-- right wrapper start -->
  <div class="d-none d-xl-block col-xl-3" >
    <div class="row" [hidden]="_butler.type=='admin'">
      <div class="col-md-12 grid-margin">
        <div class="card rounded">
          <div class="card-body">
            <h6 class="card-title">ultimos vehiculos agregados</h6>
            <div class="row ms-0 me-0">
              <a href="" (click)="false" class="col-md-4 ps-1 pe-1" *ngFor='let car of _butler.myCars$; let i = index'>
                <figure class="mb-2">
                  <img class="img-fluid rounded" src="{{car.images[0]}}" alt="">
                </figure>
              </a>
             
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 grid-margin">
        <div class="card rounded">
          <div class="card-body">
            <h6 class="card-title">Autopartes agregadas recientemente</h6>
            <div class="row ms-0 me-0">
              <a href="" (click)="false" class="col-md-4 ps-1 pe-1" *ngFor='let product of _butler.myProducts$; let i = index'>
                <figure class="mb-2">
                  <img class="img-fluid rounded" src="{{product.images[0]}}" alt="">
                </figure>
              </a>
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- right wrapper end -->
</div>

<div class="row">
  <div class="col-md-4 grid-margin" [hidden]="_butler.profileStatus=='complete' ">
    <ngx-awesome-uploader 
    [adapter]="adapter"
    [enableCropper]="true"
    [captions]="captions"    
    [cropperOptions]="cropperOptions"
    >
    </ngx-awesome-uploader>
  </div>
  <div class="col-md-6 grid-margin" [hidden]="_butler.profileStatus=='complete' ||  !_butler.profileImageLoaded ">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title" [hidden]="isForm1Submitted">{{tittle1}}</h6>
        <h6 class="card-title" [hidden]="isForm2Submitted || !isForm1Submitted">{{tittle2}}</h6>
    

        <aw-wizard #wizardForm>
          
          <aw-wizard-step stepTitle="Empresa">
            <form (ngSubmit)="form1Submit()" [formGroup]="validationForm1">

              <div class="row mb-3">
                <label for="direction" class="col-sm-3 col-form-label">Direccion</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="direction" formControlName="direction" 
                  [ngClass]="{'is-invalid': isForm1Submitted && form1.direction.errors}" placeholder="Direccion">
                  <div *ngIf="isForm1Submitted && form1.direction.errors?.required" class="invalid-feedback">
                    Campo requerido
                  </div>
                </div>
              </div>

              <div class="row mb-3">
                <label for="rut" class="col-sm-3 col-form-label">RUT</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="rut" formControlName="rut" 
                    [ngClass]="{'is-invalid': isForm1Submitted && form1.rut.errors}" placeholder="RUT">
                  <div *ngIf="isForm1Submitted && form1.rut.errors?.required" class="invalid-feedback">
                    Campo requerido
                  </div>
                </div>
              </div>

              <div class="row mb-3">
                <label for="phone" class="col-sm-3 col-form-label">Telefono de la empresa</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="phone" formControlName="phone" 
                  [ngClass]="{'is-invalid': isForm1Submitted && form1.phone.errors}" placeholder="telefono de la empresa">
                  <div *ngIf="isForm1Submitted && form1.phone.errors?.required" class="invalid-feedback">
                    Campo requerido
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <label for="facebook" class="col-sm-3 col-form-label">RRSS facebook</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="facebook" formControlName="facebook" 
                  [ngClass]="{'is-invalid': isForm1Submitted && form1.facebook.errors}" placeholder="facebook">
                 
                </div>
              </div>
              <div class="row mb-3">
                <label for="instagram" class="col-sm-3 col-form-label">RRSS instagram</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="instagram" formControlName="instagram" 
                  [ngClass]="{'is-invalid': isForm1Submitted && form1.instagram.errors}" placeholder="instagram">
                 
                </div>
              </div>
              <div class="d-flex justify-content-center mt-2">
                <button class="btn btn-primary" type="submit">Continuar</button>
              </div>
            </form>
          </aw-wizard-step>

          <aw-wizard-step stepTitle="Administrador">
            <form (ngSubmit)="form2Submit()" [formGroup]="validationForm2">
              <div class="row mb-3">
                <label for="adminName" class="col-sm-3 col-form-label">Nombre del administrador</label>
                <div class="col-sm-9">
                  <input type="adminName" class="form-control" id="adminName" formControlName="adminName"
                  [ngClass]="{'is-invalid': isForm2Submitted && form2.adminName.errors}" placeholder="nombre del administrador">
                </div>
              </div>
              <div class="row mb-3">
                <label for="adminPhone" class="col-sm-3 col-form-label">Telefono del dministrador</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="adminPhone" formControlName="adminPhone"
                  [ngClass]="{'is-invalid': isForm2Submitted && form2.adminPhone.errors}" placeholder="telefono number">
                </div>
              </div>
             
              <div class="d-flex justify-content-center mt-2">
                <button class="btn btn-secondary me-2" type="button" awPreviousStep>Atras</button>
                <button class="btn btn-primary" type="submit">Continuar</button>
              </div>
            </form>
          </aw-wizard-step>

          <aw-wizard-step stepTitle="Finalizar">
            <div class="text-center">
              <i data-feather="check-circle" appFeatherIcon class="text-success mt-4 mb-2 icon-xxl"></i>
              <h3 class="text-muted mb-3">Listo !</h3>
              <p class="w-75 mx-auto mb-4 text-muted">El perfil de la empresa ha sido completado, presione "Guardar" para finalizar</p>
            </div>
            <div class="d-flex justify-content-center mt-2">
              <button class="btn btn-secondary me-2" type="button" awPreviousStep>Atras</button>
              <button class="btn btn-success" type="button" (click)="finishFunction()">Guardar</button>
            </div>
          </aw-wizard-step>

        </aw-wizard>

      </div>
    </div>
  </div>
</div>
