

    <nav class="page-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/orders/orderlist">Ordenes de Compra</a></li>
            <li class="breadcrumb-item active" aria-current="page">Detalle de orden</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-md-12">
<div class="card" *ngIf="_butler.orderdetailseted">
  <div class="card-body">
    <div class="container-fluid d-flex justify-content-between">
      <div class="col-lg-3 ps-0">
        <a href="#" class="noble-ui-logo d-block mt-3">ZOFRICARS<span></span></a>                 
        <p  class="mt-1 mb-1"><b>{{_butler.orderdetail?.customer?.name}}</b></p>
        <p>RUT: {{_butler.orderdetail?.customer?.rut}}<br> </p>
        <!-- <p>Telefono: {{_butler.orderdetail?.customer?.phone}}<br> </p> -->
        <p>Telefono:  {{formatPhoneNumber(_butler.orderdetail?.customer?.phone)}} <br> </p>
        <p><br>Código postal: {{_butler.orderdetail?.customer?.postalCode}} <br>{{_butler.orderdetail?.customer?.city}}</p>
      
        <!-- <h5 class="mt-5 mb-2 text-muted">Invoice to :</h5> -->
        <!-- <p>Joseph E Carr,<br> 102, 102  Crown Street,<br> London, W3 3PR.</p> -->
      </div>
      <div class="col-lg-3 pe-0">
        <h4 class="fw-bolder text-uppercase text-end mt-4 mb-2">Orden </h4>
        <h6 class="text-end mb-5 pb-4"># {{_butler.orderdetail?.orderNumber}}</h6>
        <p class="text-end mb-1">Monto</p>
        <h4 class="text-end fw-normal">CLP {{_butler.orderdetail?.amount  | number:'1.2-2'}}</h4>
        <!-- <h6 class="mb-0 mt-3 text-end fw-normal mb-2"><span class="text-muted">Invoice Date :</span> 25rd Jan 2022</h6>
        <h6 class="text-end fw-normal"><span class="text-muted">Due Date :</span> 12th Jul 2022</h6> -->
      </div>
    </div>
    <div class="container-fluid mt-5 d-flex justify-content-center w-100">
      <div class="table-responsive w-100">
          <table class="table table-bordered">
            <thead>
              <tr>
                  <th>#</th>
                  <th>Descripción</th>
                  <th class="text-end">Cantidad</th>
                  <th class="text-end">Precio de costo</th>
                  <th class="text-end">Total</th>
                </tr>
            </thead>
            <tbody>
              <tr class="text-end" *ngFor="let vehicle of _butler.orderdetail.car; let i = index">
                <td class="text-start">1</td>
                <td class="text-start">{{vehicle.name}}</td>
                <td>{{vehicle.Quantity}}</td>
                <td>CLP {{vehicle.price  | number:'1.2-2'}}</td>
                <td>CLP {{vehicle.price  | number:'1.2-2'}}</td>
              </tr>
            
            </tbody>
          </table>
        </div>
    </div>
    <div class="container-fluid mt-5 w-100">
      <div class="row">
        <div class="col-md-6 ms-auto">
            <div class="table-responsive">
              <table class="table">
                  <tbody>
                    <tr>
                      <td>Sub Total</td>
                      <td class="text-end">CLP {{_butler.orderdetail?.amount  | number:'1.2-2'}}</td>
                    </tr>
                    <tr>
                      <td>IMP (0%)</td>
                      <td class="text-end">CLP 0</td>
                    </tr>
                    <tr>
                      <td class="text-bold-800">Total</td>
                      <td class="text-bold-800 text-end"> CLP {{_butler.orderdetail?.amount  | number:'1.2-2'}}</td>
                    </tr>
                    <!-- <tr>
                      <td>Payment Made</td>
                      <td class="text-danger text-end">(-) $ 4,688.00</td>
                    </tr>
                    <tr class="bg-light">
                      <td class="text-bold-800">Balance Due</td>
                      <td class="text-bold-800 text-end">$ 12,000.00</td>
                    </tr> -->
                  </tbody>
              </table>
            </div>
        </div>
      </div>
    </div>
    <!-- <div class="container-fluid w-100">
      <a href="javascript:;" class="btn btn-primary float-end mt-4 ms-2"><i data-feather="send" class="me-3 icon-md"></i>Send Invoice</a>
      <a href="javascript:;" class="btn btn-outline-primary float-end mt-4"><i data-feather="printer" class="me-2 icon-md"></i>Print</a>
    </div> -->
  </div>
</div>
        </div>
    </div>
