<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Autopartes</a></li>
    <li class="breadcrumb-item active" aria-current="page">Agregar autoparte a invetario</li>
  </ol>
</nav>

<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row position-relative">
          <div class="col-lg-5 chat-aside border-end-lg">
            <div class="aside-content">
              <div class="aside-body">
                <ngx-awesome-uploader
                [adapter]="adapter"
                 [enableCropper]="true"
                >
                </ngx-awesome-uploader>
              </div>
            </div>
          </div>
          <div class="col-lg-7 chat-content">
            <form class="forms-sample" [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-8">
                  <div class="mb-3">
                    <label for="exampleInputUsername1" class="form-label">Nombre</label>
                    <input type="text" class="form-control"  formControlName="name" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }">
                    <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                      <div *ngIf="f['name'].errors['required']">Campo requerido
                      </div>
                    </div>
                  </div>   
                </div>
                 <div class="col-md-4">            
                  <div class="mb-3">
                    <label  class="form-label">Estado del vehiculo</label>
                    <select id="vehicleStatus" class="form-control wide"[(ngModel)]="vehicleStatus" (ngModelChange)="setVehicleStatus(vehicleStatus)" [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let vehicleStatus of vehicleStatusArray, let i = index " [ngValue]="i"> <span   style="cursor:pointer;">{{vehicleStatus.name}}</span></option>
                    </select>
                  </div>                 
                </div>
              </div>
                        
              <div class="mb-3">
                <label  class="form-label">Descripcion</label>
                <textarea class="form-control" placeholder="Descipcion larga del vehiculo" rows="2"  formControlName="description" [ngClass]="{ 'is-invalid': submitted && f['description'].errors }"></textarea>

                <div *ngIf="submitted && f['description'].errors" class="invalid-feedback">
                  <div *ngIf="f['description'].errors['required']">Campo requerido
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="mb-3">
                    <label for="exampleInputUsername1" class="form-label">Marca</label>
                    <input type="text" class="form-control" formControlName="brand" [ngClass]="{ 'is-invalid': submitted && f['brand'].errors }">
                    <div *ngIf="submitted && f['brand'].errors" class="invalid-feedback">
                      <div *ngIf="f['brand'].errors['required']">Campo requerido
                      </div>
                    </div>
                  </div>   
                </div>
                <div class="col-md-4">            
                  <div class="mb-3">
                    <label  class="form-label">Modelo</label>
                    <select id="carType" class="form-control wide"[(ngModel)]="carType" (ngModelChange)="setVehicle(carType)" [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let vehicle of vehicles, let i = index " [ngValue]="i"> <span   style="cursor:pointer;">{{vehicle.name}}</span></option>
                    </select>
                  </div>                 
                </div>
                <div class="col-md-4">
                  <div class="mb-3">
                    <label for="exampleInputUsername1" class="form-label">Año</label>
                    <input type="text" class="form-control" formControlName="year" [ngClass]="{ 'is-invalid': submitted && f['year'].errors }">
                    <div *ngIf="submitted && f['year'].errors" class="invalid-feedback">
                      <div *ngIf="f['year'].errors['required']">Campo requerido
                      </div>
                    </div>
                  </div>   
                </div>
              </div>
               <div class="row">
                 <div class="col-md-4">            
                  <div class="mb-3">
                    <label  class="form-label">Tipo de combustible</label>
                    <select id="fuelType" class="form-control wide"[(ngModel)]="fuelType" (ngModelChange)="setFuelType(fuelType)" [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let type of fuelTypes, let i = index " [ngValue]="i"> <span   style="cursor:pointer;">{{type.name}}</span></option>
                    </select>
                  </div>                 
                </div>
                <div class="col-md-4">            
                  <div class="mb-3">
                    <label  class="form-label">Tipo de transmision</label>
                    <select id="transmision" class="form-control wide"[(ngModel)]="transmision" (ngModelChange)="setTransmisionType(transmision)" [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let type of transmisionTypes, let i = index " [ngValue]="i"> <span   style="cursor:pointer;">{{type.name}}</span></option>
                    </select>
                  </div>                 
                </div>
                <div class="col-md-4">            
                  <div class="mb-3">
                    <label  class="form-label">Cilindrada</label>
                    <input type="text" class="form-control"  formControlName="displacement" [ngClass]="{ 'is-invalid': submitted && f['displacement'].errors }">
                    <div *ngIf="submitted && f['displacement'].errors" class="invalid-feedback">
                      <div *ngIf="f['displacement'].errors['required']">Campo requerido
                      </div>
                    </div>
                  </div>                  
                </div>
                
              </div>
              <div class="row">
                <div class="col-md-6">             
                  <div class="mb-3">
                    <label  class="form-label">Kilometraje</label>
                    <input type="number" class="form-control" formControlName="displacement" [ngClass]="{ 'is-invalid': submitted && f['displacement'].errors }">
                    <div *ngIf="submitted && f['displacement'].errors" class="invalid-feedback">
                      <div *ngIf="f['displacement'].errors['required']">Campo requerido
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">             
                  <div class="mb-3">
                    <label  class="form-label">Precio</label>
                    <input type="number" class="form-control" formControlName="price" [ngClass]="{ 'is-invalid': submitted && f['price'].errors }">
                    <div *ngIf="submitted && f['price'].errors" class="invalid-feedback">
                      <div *ngIf="f['price'].errors['required']">Campo requerido
                      </div>
                    </div>
                  </div>
                </div>
               
              </div>  
              <div style="text-align:right;" [hidden]="!_butler.newCarImage">
                <button  class="btn btn-primary me-2 mb-2 mb-md-0"type="submit" style="cursor: pointer;">Aceptar</button>
              </div>
             
            </form>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

